hvclient/xml-resources/web-service-references/HealthVision/wsdl/sjs-home_8080/hv-war/HealthVision.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://healthvision.hv.sjsu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://healthvision.hv.sjsu.edu/">

<xs:element name="filterDoctors" type="tns:filterDoctors" />

<xs:element name="filterDoctorsResponse" type="tns:filterDoctorsResponse" />

<xs:element name="filterPatients" type="tns:filterPatients" />

<xs:element name="filterPatientsResponse" type="tns:filterPatientsResponse" />

<xs:complexType name="filterDoctors">
<xs:sequence>
<xs:element name="criteria" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterDoctorsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterPatients">
<xs:sequence>
<xs:element name="criteria" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterPatientsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>